<div class="container">
<h1>Welcome to the Sample App</h1>
<p>This is the home page for the Ruby on Rails Tutorial sample
  application</p>
<button type="button" class="btn btn-primary container" >Sign up now!</button>
</div>
